:root{
  --link_color: rgb(58, 58, 185);
}

h1{
  font-weight: bold;
  color: tomato;
}
h2, h3, h4, h5, h6{
  background-color: rgb(255, 227, 222);
  font-weight: bold;
  color: tomato;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 2% 2% 2% 2%;
  width: auto;
  color:#000000;
}
a {
  color: var(--link_color);
}
a:hover {
  color:var(--link_color);
  font-weight: bold;
}

/********************************************************/
.navbar{
  margin-top:2%;
  list-style: none;   /*gets rid of bullet points*/
  text-align: right;  /*aligns to the right*/
  font-size: 16px;
}
.navbar > li{
  display: inline-block; /*puts everything on the same line (horizontal)*/
  padding-left: 10px;
}
.navbar #rn{
  font-weight: bold;
}
 .navbar > li > a{
  text-decoration: none;
  color: #000;
}
.navbar > li > a:hover{
font-weight: bold;  
text-decoration-line: underline;
}

/********************************************************/
img {
  margin: 2%;
}
/*
#secondBox {
  margin: 5%;
  height: auto;
  font-size:17px;
}


#secondBox h2.titles {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
*/
p.title {
  font-weight:bold;
}

p.authors {
  margin-top: -10px;
  opacity:1;
  font-size: 14px;
}

/* #secondBox a{
  font-weight: bold;
  color: var(--link_color);
} */

#contactinfo {
  display: flex;
  justify-content: center;
  align-items: center
}
