:root{
  --link_color: #0D22AF;
}

body {
    /* background-color: #faf3f4 !important; */
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 175%;
    margin: 2% 2% 2% 2%;
    width: auto;
}
a {
  color: var(--link_color);
}
a:hover {
  color: #0f8c3d;
}

/********************************************************/
.navbar{
  font-family: 'Titillium Web', sans-serif;
  color: #000000;
  opacity: 1;
  list-style: none;   /*gets rid of bullet points*/
  text-align: right;  /*aligns to the right*/
  font-size: 16px;
}

.navbar > li{
  display: inline-block; /*puts everything on the same line (horizontal)*/
  padding-right: 10px;
}
.navbar > li.rn{
  text-align:left;
  margin-top:2%;
}
.navbar > li.rn > span{
  background-color: black;
  opacity: 1;
  padding-right: 5px;
  padding-left: 5px;
  color:white;
  font-size: 24px;
}
.navbar > li > a{
  text-decoration: none;
  color: #000000;
}
.navbar > li > a:hover{
  color: #0f8c3d;
}

/********************************************************/
#firstBox{
  font-size: 16px;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

#firstBox > p > a{
  font-weight: bold;
  color: var(--link_color);
}

#firstBox > img.aboutBox-img{
  opacity:1;
  border-radius: 50%;
  margin-top: 6px;
  width: 80%;
}
#firstBox > img.aboutBox-img:hover{
  opacity: 1;
}
#firstBox h1 {
  opacity: 1;
  margin-bottom: 1%;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 100;
  color:#000;
}
#firstBox h5{
  opacity: 1;
  margin-top: 2%;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 100;
  color: #000;
  line-height: 175%;
}

/********************************************************/
#secondBox {
  margin-top:auto;
  height: 570px;
  margin-left: 5%;
  font-size:18px;
  font-family: 'Titillium Web', sans-serif;
}

#secondBox h2.titles {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: 2px;
  border-color: #0f8c3d;
}

#secondBox p.authors {
  margin-top: -10px;
  opacity:1;
  font-size: 12px;
}

#secondBox a{
  font-weight: bold;
  color: var(--link_color);
}
