:root{
  --link_color: #0D22AF;

}

body {
    font-family: 'Lora', serif;
    font-size: 16px;
    margin: 2% 2% 2% 2%;
    width: auto;
    color:#000000;
}
a {
  color: var(--link_color);
}
a:hover {
  color: tomato;
}

/********************************************************/
.navbar{
  margin-top:2%;
  font-family: 'Source Code Pro', monospace;
  list-style: none;   /*gets rid of bullet points*/
  text-align: right;  /*aligns to the right*/
  font-size: 16px;
}
.navbar > li{
  display: inline-block; /*puts everything on the same line (horizontal)*/
  padding-left: 10px;
}
.navbar #rn{
  font-weight: bold;
  color: tomato !important;
  border-bottom: solid, medium;
  border-bottom-style: solid;
}
 .navbar > li > a{
  text-decoration: none;
  color: inherit;
}
.navbar > li > a:hover{
  color: tomato;
}

/********************************************************/
img {
  padding: 2%;
}

#secondBox {
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Lora', serif;
  margin: 5%;
  height: auto;
  /* margin-left: 5%; */
  font-size:17px;
}


#secondBox h2.titles {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

#secondBox p.authors {
  margin-top: -10px;
  opacity:1;
  font-size: 14px;
}

#secondBox a{
  font-weight: bold;
  color: var(--link_color);
}

#contactinfo {
  display: flex;
  justify-content: center;
  align-items: center
}
